/* src/Dashboard.css */
.dashboard {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  min-height: 100vh;
  padding: 20px;
}

.date-selection {
  margin-bottom: 20px;
  text-align: center;
}

.date-picker {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.charts-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  /*grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));*/
  gap: 20px;
}

.chart-card {
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}